<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <div class="contenedor">
        <h1>Inicio de sesion</h1>
        <form method="post">
            <div class="usuario">
                <input type="text", required>
                <label>Nombre de usuario</label>
            </div>
            <div class="contrasena">
                <input type="password", required>
                <label>Contraseña</label>
            </div>
            <div class="olvidar">¿Olvidaste la contraseña?</div>
            <input type="submit" value="Iniciar">
            <div class="registrar">
                Quiero <a href="#">registrarme</a>
            </div>
        </form>
    </div>
</body>
</html>