<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>

<div th:fragment="panelLateral(active)" class="panelLateral">
    <div class="panelLateral-logo">
        <a th:href="@{/modulos}" class="marca-logo">
            <div>
                <span>TFG</span><br/>
                <small>Panel de Control</small>
            </div>
        </a>
    </div>

    <nav class="panelLateral-nav">
        <div class="titulo-nav">Principal</div>

        <a th:href="@{/modulos}"
           th:classappend="${active == 'modulos' ? ' active' : ''}"
           class="nav-modulo">
            Modulos
        </a>
    </nav>
</div>

</body>
</html>
